#headpage {
    display: flex;
    background-color: #ffcb0f;
    height: 45px;
}

#NumberMailDate {
    float: left;
    display: flex;
    margin-top: 1%;
    margin-bottom: auto;
    margin-left: 10%;
    font-size: 16px;
    text-indent: 20px;
    height: 50%;
    width: 100%;
}

.iconWithText {
    display: inline-block;
    vertical-align: middle;
}

#Socials {
    float: right;
    display: flex;
    margin-right: 10%;
    margin-bottom: auto;
    margin-top: auto;
    text-indent: 13px;
}

.topnav {
    overflow: hidden;
    background-color: #222533;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #222533;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#navbar {
    display: flex;
    background-color: #222533;
    height: 90px;
}

#navbarMenu {
    margin-left: auto;
    margin-right: 115px;
    margin-bottom: auto;
    margin-top: auto;
}

#navbarLogo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 130px;
}

#Section1 {
    display: block;
    background-image: url(images/slider_img2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 41%);
}

mark {
    background-color: #1773e3;
    color: white;
}

#buttonSection1 {
    text-align: center;
}

.btnkm {
    background-color: #ffcb0f;
    height: 30px;
    width: 115px;
    border-radius: 24px;
    color: white;
    border: none;
    margin: 0;
}

#smalltitle {
    margin: 0;
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

#ttlWhite {
    color: white;
    font-size: 50px;
    text-align: center;
}

#ttlYellow {
    color: #ffcb0f;
    font-size: 50px;
    text-align: center;
}

#firstParagraph {
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#Section2 {
    display: flex;
    height: 100%;
}

#text2ndPage {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-right: -5%;
}

#scndPageTextWlcm {
    font-size: 31px;
    text-align: center;
    color: #ffcb0f;
    position: relative;
    left: 10%;
    width: 80%;
    height: 10%;
    top: 8%;
}

#scndPageTextAliquam {
    font-size: 30px;
    color: #484849;
    text-align: center;
    position: relative;
    left: 10%;
    width: 80%;
    height: 9%;
}

#prgrph {
    color: #484849;
    text-align: justify;
    position: relative;
    left: 10%;
    width: 80%;
}

#imagePage2 {
    position: relative;
    left: 0;
    margin-right: 20%;
}

#manBackground {
    position: relative;
    top: 15.5%;
    left: 0;
}

#man {
    position: absolute;
    top: 1%;
    left: 30%;
    width: 40%;
}

.btnkm2 {
    background-color: #ffcb0f;
    height: 30px;
    width: 115px;
    border-radius: 24px;
    color: white;
    border: none;
    margin: 0;
    position: relative;
    left: 10%;
}

#Section3 {
    background-color: #f2f7fa;
    background-size: cover;
    border: none;
    box-sizing: border-box;
}

.Columns4 {
    float: left;
    width: 23%;
    padding: 10px;
    height: 300px;
    text-align: center;
}

.ColumnsS7 {
    float: left;
    width: 23%;
    padding: 10px;
    text-align: center;
    height: 100%;
}

#choice {
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#iconLeaf {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconFutbol {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconChartLine {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconUsers {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#Section4 {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

#OurServices {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
}

.columns3 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100%;
    text-align: justify;
}

#Section3>.row {
    margin-left: 10%;
    margin-right: 10%;
}

.columns3>h2 {
    font-size: 1.4em
}

.columns3>p {
    width: 85%
}

.row::after {
    width: 100%;
    height: 100%;
    content: "";
    display: table;
    clear: both;
    justify-content: center;
}

#Section5 {
    display: block;
    background-image: url(images/portfolio_bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(218, 173, 13, 0.85);
    padding-left: 5%;
    padding-right: 5%;
}

#HeaderSection5 {
    margin-top: 5%;
    text-align: center;
    color: white;
}

#ParagraphSection5 {
    text-align: center;
    color: white;
}

.Portfolio {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    padding: 10px;
}

.Portfolio>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    margin: 1%;
}

.item1 {
    grid-area: 1 / 1 / span 2 / span 2;
}

.Section5Images {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100%;
}

#Section6 {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

#HeaderSection6 {
    margin-top: 5%;
    text-align: center;
}

#ParagraphSection6 {
    text-align: center;
}

.columns3 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100%;
    text-align: justify;
}

.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 200px;
    margin: 10%;
    width: 275px;
}

.bubble::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 40%;
    position: relative;
    bottom: 28%;
    -webkit-transform: rotate( 315deg);
    width: 20px;
}

.fa-quote-right {
    font-size: 100%;
    margin-top: 10%;
    margin-left: 5%
}

.prgrphBubbles {
    margin-left: 10%;
    text-align: left;
    width: 90%;
    height: 100%;
}

.checkbox1 {
    margin-left: 30%;
    margin-bottom: 10%;
}

#Section7 {
    width: 100%;
    height: 100%;
}

#headerS7 {
    display: flex;
    background-color: #fedb5d;
    justify-content: space-evenly;
    height: 100%;
}

#textHeaderS7 {
    text-align: center;
    margin-top: 1.8%;
}

#textHeaderS7>h1 {
    margin: 0;
    color: #73757e;
    font-family: sans-serif;
    font-weight: 800;
}

#textHeaderS7>h2 {
    margin: 0;
    color: #73757e;
    font-family: -webkit-pictograph;
    font-weight: 500;
    font-size: 290%;
}

#TextInputS7 {
    margin-top: 1.3%;
    margin-bottom: 1.3%;
    width: 26%;
}

input[type=text] {
    width: 49%;
    padding: 1em;
    margin: 1% 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
}

#inputS7Msg {
    width: 147%;
    vertical-align: middle;
}

.btnSubmit {
    background-color: #73757e;
    height: 42px;
    width: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 0;
}

#emptyBackgroundS7 {
    background-color: #73757e;
    height: 50px;
    width: 100%;
}

#BackgroundImageS7 {
    display: block;
    background-image: url(images/footer_bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgb(36 39 55 / 86%);
    color: white;
}

.ColumnsS7>h3 {
    font-size: larger;
    margin-left: 28%;
    text-align: left;
    font-size: 24px;
}

.ColumnsS7>h2 {
    text-align: left;
    color: #feca0f;
    margin: 0;
    margin-left: 28%;
}

.ColumnsS7>h4 {
    text-align: left;
    margin: 0;
    margin-left: 28%;
    color: #7f8086;
}

.ColumnsS7>p {
    text-align: left;
    margin-left: 28%;
    font-size: 16px;
}

.ColumnsS7>i {
    color: #222521;
    background-color: #feca0f;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
}

#IconRightArrow {
    margin-top: 1.5%;
    font-size: smaller;
    margin-right: 5%;
}

.TextFootPageS7 {
    display: flex;
    margin: 11px 0px 0px 0px;
    margin-left: 6.1em;
}

.TextFootPageS7>p {
    margin: 0;
}

#FooterIcons {
    display: flex;
    margin: 0;
    margin-left: 6.1em;
}

#FooterIcons>a {
    margin-top: 6.5%;
    margin-right: 5%;
}

.AUG20 {
    float: left;
    margin-left: 27%;
    margin-right: 5%;
    box-shadow: 0 0 0 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#Number49 {
    margin-left: 35%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}

.nav-link:hover,
.nav-link:focus {
    background-color: black;
    border-radius: 1rem;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-justified>.nav-link,
.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}