#headpage {
    display: flex;
    background-color: #ffcb0f;
    height: 45px;
}

#NumberMailDate {
    float: left;
    display: flex;
    margin-top: 1%;
    margin-bottom: auto;
    margin-left: 130px;
    font-size: 16px;
    text-indent: 20px;
    height: 50%;
    width: 100%;
}

#Socials {
    float: right;
    display: flex;
    margin-right: 10%;
    margin-bottom: auto;
    margin-top: auto;
    text-indent: 13px;
}

.topnav {
    overflow: hidden;
    background-color: #222533;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #222533;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#navbar {
    display: flex;
    background-color: #222533;
    height: 90px;
}

#navbarMenu {
    margin-left: auto;
    margin-right: 115px;
    margin-bottom: auto;
    margin-top: auto;
}

#navbarLogo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 130px;
}

#Section1 {
    display: block;
    background-image: url(images/slider_img2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 41%);
}

mark {
    background-color: #1773e3;
    color: white;
}

#buttonSection1 {
    text-align: center;
}

.btnkm {
    background-color: #ffcb0f;
    height: 30px;
    width: 115px;
    border-radius: 24px;
    color: white;
    border: none;
    margin: 0;
}

#smalltitle {
    margin: 0;
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

#ttlWhite {
    color: white;
    font-size: 50px;
    text-align: center;
}

#ttlYellow {
    color: #ffcb0f;
    font-size: 50px;
    text-align: center;
}

#firstParagraph {
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#Section2 {
    display: flex;
    height: 100%;
}

#text2ndPage {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-right: -5%;
}

#scndPageTextWlcm {
    font-size: 31px;
    text-align: center;
    color: #ffcb0f;
    position: relative;
    left: 10%;
    width: 80%;
    height: 10%;
    top: 8%;
}

#scndPageTextAliquam {
    font-size: 30px;
    color: #484849;
    text-align: center;
    position: relative;
    left: 10%;
    width: 80%;
    height: 9%;
}

#prgrph {
    color: #484849;
    text-align: justify;
    position: relative;
    left: 10%;
    width: 80%;
}

#imagePage2 {
    position: relative;
    left: 0;
    margin-right: 20%;
}

#manBackground {
    position: relative;
    top: 15.5%;
    left: 0;
}

#man {
    position: absolute;
    top: 1%;
    left: 30%;
    width: 40%;
}

.btnkm2 {
    background-color: #ffcb0f;
    height: 30px;
    width: 115px;
    border-radius: 24px;
    color: white;
    border: none;
    margin: 0;
    position: relative;
    left: 10%;
}

#Section3 {
    background-color: #f2f7fa;
    background-size: cover;
    border: none;
    box-sizing: border-box;
}

.partS3 {
    float: left;
    width: 23%;
    padding: 10px;
    height: 300px;
    text-align: center;
}

#choice {
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#iconLeaf {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconFutbol {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconChartLine {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#iconUsers {
    border-radius: 100%;
    box-shadow: 0 0 0 7.5px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 22.5px #f7e59c;
    padding: 10%;
    font-size: 200%;
    margin-bottom: 10%;
}

#Section4 {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

#OurServices {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
}

.partS4 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100%;
    text-align: justify;
}

.row::after {
    width: 100%;
    height: 100%;
    content: "";
    display: table;
    clear: both;
    justify-content: center;
    margin-left: 15%;
}